<section class="Meal">
  <div class="container fix-footer">
    <div class="row p-3 pt-4">
      <div class="col-md-9">
        <div class="tab mb-3">
          <button class="tablinks" (click)="tabChanger(1)" mat-raised-button>
            Add Meal
          </button>
          <button class="tablinks" (click)="tabChanger(2)" mat-raised-button>
            Add Order
          </button>
          <button class="tablinks" (click)="tabChanger(3)" mat-raised-button>
            Reports
          </button>
        </div>
        <!-- Add Order -->
        <div [hidden]="index !== 1" class="fav-wrapper">
          <div class="customDiv">
            <div class="row">
              <div class="card-body login-form form-flow">
                <form [formGroup]="form" (ngSubmit)="OnSubmit()">
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <svg fill="white" width="15px" height="auto" viewBox="0 0 1792 1792"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z" />
                          </svg></span>
                      </div>
                      <input type="number" class="form-control" formControlName="q" placeholder="q" [(ngModel)]="q" />
                    </div>
                    <div class="mt-0 pt-0" *ngIf="
                        form.controls['q'].invalid &&
                        (form.controls['q'].touched || form.controls['q'].dirty)
                      ">
                      <small class="form-text text-danger m-0" *ngIf="form.controls['q'].hasError('required')">*you must
                        write a quntity</small>
                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><svg width="15px" height="auto" fill="white"
                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1593 349l-640 1280q-17 35-57 35-5 0-15-2-22-5-35.5-22.5t-13.5-39.5v-576h-576q-22 0-39.5-13.5t-22.5-35.5 4-42 29-30l1280-640q13-7 29-7 27 0 45 19 15 14 18.5 34.5t-6.5 39.5z" />
                          </svg></span>
                      </div>
                      <div class="select-wrapper form-control">
                        <select class="form-select form-group" [(ngModel)]="category" (change)="onOptionsSelected()"
                          formControlName="category" required>
                          <option [ngValue]="null" [disabled]="true">
                            category
                          </option>
                          <option *ngFor="let categor of categories" value="{{ categor }}">
                            {{ categor }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><svg width="15px" height="auto" fill="white"
                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1593 349l-640 1280q-17 35-57 35-5 0-15-2-22-5-35.5-22.5t-13.5-39.5v-576h-576q-22 0-39.5-13.5t-22.5-35.5 4-42 29-30l1280-640q13-7 29-7 27 0 45 19 15 14 18.5 34.5t-6.5 39.5z" />
                          </svg></span>
                      </div>
                      <div class="select-wrapper form-control">
                        <select class="form-select form-group" [(ngModel)]="tag" [attr.disabled]="dis ? '' : null"
                          formControlName="tag" required>
                          <option [ngValue]="null" [disabled]="true">
                            meal
                          </option>
                          <option *ngFor="let tag of tags" value="{{ tag }}">
                            {{ tag }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="form-check form-group mb-0 pb-0">
                      <input class="form-check-input" type="checkbox" value="" formControlName="combo"
                        id="flexCheckDefault" [(ngModel)]="isCombo" (change)="checkCombo()" />
                      <label class="form-check-label" for="flexCheckDefault">
                        combo/add 2LE
                      </label>
                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="form-check form-group mb-0 pb-0">
                      <input class="form-check-input" type="checkbox" value="" formControlName="spicy"
                        id="flexCheckChecked" [(ngModel)]="isSpicy" (change)="checkSpicy()" />
                      <label class="form-check-label" for="flexCheckChecked">
                        spicy/add 1LE
                      </label>
                    </div>
                  </div>

                  <div class="mb-4">
                    <h1 class="text-center">Price : {{ price }} LE</h1>
                  </div>
                  <div class="form-group">
                    <input type="submit" [disabled]="form.invalid" value="Add"
                      class="btn float-right login_btn btn btn-success" />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Addons</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of Order; let currentIndex = index">
                <td>{{ currentIndex + 1 }}</td>
                <td>
                  {{ order.item }}
                </td>
                <td>
                  {{ order.Q }}
                </td>
                <td>
                  {{ order.price }}
                </td>
                <td>
                  {{ order.addson }}
                </td>
                <td>
                  {{ order.total }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="mb-4">
            <h1 class="text-right">Total : {{ total }} LE</h1>
          </div>
          <input type="submit" value="New Order" class="btn float-right login_btn btn btn-success" (click)="Neo()" />
        </div>

        <!-- add Meal -->
        <div [hidden]="index !== 2" class="fav-wrapper">
          <div class="customDiv">
            <div class="row">
              <div class="card-body login-form form-flow">
                <form [formGroup]="Mealform" (ngSubmit)="OnSubmitMeal(descripton.value)">
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <svg fill="white" width="15px" height="auto" viewBox="0 0 1792 1792"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z" />
                          </svg></span>
                      </div>
                      <input type="text" class="form-control" formControlName="name" placeholder="name"
                        [(ngModel)]="name" />
                    </div>
                    <div class="mt-0 pt-0" *ngIf="
                        Mealform.controls['name'].invalid &&
                        (Mealform.controls['name'].touched ||
                          Mealform.controls['name'].dirty)
                      ">
                      <small class="form-text text-danger m-0"
                        *ngIf="Mealform.controls['name'].hasError('required')">*you must write a name</small>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <svg fill="white" width="15px" height="auto" viewBox="0 0 1792 1792"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z" />
                          </svg></span>
                      </div>
                      <input type="number" class="form-control" formControlName="price" placeholder="price"
                        [(ngModel)]="prico" />
                    </div>
                    <div class="mt-0 pt-0" *ngIf="
                        Mealform.controls['price'].invalid &&
                        (Mealform.controls['price'].touched ||
                          Mealform.controls['price'].dirty)
                      ">
                      <small class="form-text text-danger m-0"
                        *ngIf="Mealform.controls['price'].hasError('required')">*you must write a price</small>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <svg fill="white" width="15px" height="auto" viewBox="0 0 1792 1792"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z" />
                          </svg></span>
                      </div>
                      <textArea rows="5" cols="60" required class="form-control" #descripton
                        placeholder="descripton"></textArea>
                    </div>
                    <div class="mt-0 pt-0" *ngIf="
                        Mealform.controls['descripton'].invalid &&
                        (Mealform.controls['descripton'].touched ||
                          Mealform.controls['descripton'].dirty)
                      ">
                      <small class="form-text text-danger m-0" *ngIf="
                          Mealform.controls['descripton'].hasError('required')
                        ">*you must write a descripton</small>
                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><svg width="15px" height="auto" fill="white"
                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1593 349l-640 1280q-17 35-57 35-5 0-15-2-22-5-35.5-22.5t-13.5-39.5v-576h-576q-22 0-39.5-13.5t-22.5-35.5 4-42 29-30l1280-640q13-7 29-7 27 0 45 19 15 14 18.5 34.5t-6.5 39.5z" />
                          </svg></span>
                      </div>
                      <div class="select-wrapper form-control">
                        <select class="form-select form-group" [(ngModel)]="category" (change)="onOptionsSelected()"
                          formControlName="category" required>
                          <option [ngValue]="null" [disabled]="true">
                            category
                          </option>
                          <option *ngFor="let categor of categories" value="{{ categor }}">
                            {{ categor }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="input-group form-group mb-0 pb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <svg width="15px" height="auto" fill="white" viewBox="0 0 1792 1792"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M1596 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28h-1344q-40 0-68-28t-28-68v-1600q0-40 28-68t68-28h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22zm384 1528v-1024h-416q-40 0-68-28t-28-68v-416h-768v1536h1280zm-928-896q8-11 21-12.5t24 6.5l51 38q11 8 12.5 21t-6.5 24l-182 243 182 243q8 11 6.5 24t-12.5 21l-51 38q-11 8-24 6.5t-21-12.5l-226-301q-14-19 0-38zm802 301q14 19 0 38l-226 301q-8 11-21 12.5t-24-6.5l-51-38q-11-8-12.5-21t6.5-24l182-243-182-243q-8-11-6.5-24t12.5-21l51-38q11-8 24-6.5t21 12.5zm-620 461q-13-2-20.5-13t-5.5-24l138-831q2-13 13-20.5t24-5.5l63 10q13 2 20.5 13t5.5 24l-138 831q-2 13-13 20.5t-24 5.5z" />
                          </svg>
                        </span>
                      </div>
                      <input class="form-control" type="file" #fileInput accept="image/*"  formControlName="image" (change)="onFileChanged($event)" />
                    </div>
                    <div class="mt-0 pt-0" *ngIf="
                    Mealform.controls['image'].invalid &&
                        (Mealform.controls['image'].touched ||
                        Mealform.controls['image'].dirty)
                      ">
                      <small class="form-text text-danger m-0"
                        *ngIf="Mealform.controls['image'].hasError('required')">*required images</small>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="submit" [disabled]="Mealform.invalid" value="Save"
                      class="btn float-right login_btn btn btn-success" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- host places -->
        <div [hidden]="index !== 3" class="fav-wrapper">heheheheeh</div>
      </div>
    </div>
  </div>
</section>