
  .Meal {
    height: $calc-height;
    overflow-y: scroll;
  .badge-style{
    margin: auto 0;
    padding: 5px;
  }
   
   
  
    .fix-footer {
      box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22) !important;
      border-radius: 25px;
      color: $hover-color;
      margin-top: 10px;
      height: calc(100vh - 130px);
      background-image: $wheat !important;
      position: relative;
      //overflow-y: scroll;
      .form-flow {
        height: 100%;
      }
      .profile-wrapper {
        height: 100%;
        overflow-y: scroll;
        .ng-select-responsive {
          width: 55%;
          margin: 0 auto;
          @include medium-screen {
            width: 100%;
          }
        }
  
      }
    }
  }
  .customDiv {
    border: none;
  }
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22) !important;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  iframe{
    box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22) !important;
    border: none;
  }
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: $hover-color;
    color: #f1f1f1;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  

  